<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webpy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to webpy</h1>
    <p>This is a simple HTML page served by Python.</p>
    <a href="{{ url_for('about') }}">Click this button to learn more about webpy :)</a>
    <script src="{{ url_for('static', filename='util.js') }}"></script>
</body>
</html>